.card__like-button {
  background-image: url("./../../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 20px 20px;

  border: none;

  width: 25px;
  height: 20px;
  margin-left: 0px;
  padding: 0;

  cursor: pointer;
  outline: none;
}

.card__like-button:hover {
  opacity: 0.6;
}