.profile__wrap {
  padding-bottom: 16px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__wrap {
    padding-bottom: 14px;
    padding-left: 44px;
  }
}