.popup__inputs {
  color: black;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100px;

  padding-top: 41px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .popup__inputs {
    padding-top: 62px;
    padding-bottom: 60px;
  }
}